.colorFondo{
 background-image:url(../img/25fb40dc.png)!important;
}
.marginCategorias{
    margin-top: 5%;
}
.centrado{
    text-align: center;
}
.imagenCategoria{
    height: 196.66px!important;
    width: 350px!important;
}

.adaptar{
    width: 100%;
}