.colorFondo{
 background-image:url(../img/25fb40dc.png)!important;
}
.marginCategorias{
    margin-top: 5%;
}
.centrado{
    text-align: center;
}
.imagenCategoria{
    max-height: 196.66px;
    width: 350px;
}